
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
.secondary-bg{
    color: #eec8ad;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
}
.header{
    background-image: url(../images/developer.png) ,url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
nav{
    display: flex;
    /* align-items center makes all items in a line  */
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
nav ul{
    display: flex;
    align-items: center;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul li{
    list-style: none ;
    margin-right: 50px;
}
nav ul li a{
    text-decoration: none;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin: 0px 35px 0px 230px;
}
.banner-content{
    max-width: 580px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
    color: rgba(71, 71, 71, 1);
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    color: rgba(24, 24, 24, 1);
}
.banner-description{
    font-size: 18px;
    font-weight: 400;
    color: rgba(117, 117, 117, 1);
}
.banner-profile-picture{
    width: 584px;
    height: 676px;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    font-weight: 400;
    color: rgba(117, 117, 117, 1);
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.about-item{
    color: rgba(117, 117, 117, 1);
}
.item-title{
    font-size: 20px;
    font-weight: 400;
}
.item-description{
    font-size: 20px;
    font-weight: 700;
}
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}
.skills{
    align-items: center;
    justify-content: center;
}
.skills-title{
    text-align: center;
    color: #181818;
    font-size: 35px;
    font-weight: 700;
}
.skills-description{
    text-align: center;
    color: #757575;
    max-width: 909px;
    font-size: 18px;
    font-weight: 400;
}
.skills-container{
    display: flex;
    margin-top: 60px;
    gap: 24px;
}
.skill{
    background-color: aliceblue;
    padding: 20px 20px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px #0000000F;
}
.skill-title{
    color: #181818;
    font-size: 20px;
    font: 400;
}
.skill-description{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    line-height: 28px;
}
main{
    max-width: 1140px;
    margin: 0px auto;
}